[core]
    user = {{ git_username }}
    email = {{ git_email }}
    editor = {{ git_coreeditor }}
    excludesfile = /home/{{ git_os_user }}/.gitignore
[user]
    name = {{ git_username }}
    email = {{ git_email }}
[color]
  ui = true
[alias]
    l = "log --pretty=oneline"
[merge]
    tool = {{ git_mergetool }}
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true